.Section {
  /* border: 1px solid black; */
  margin: var(--size3) 0;
}

.HeadingWrapper {
  position: sticky;
  top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryTextColor);
  background: var(--primaryBackgroundColor);
  height: var(--size9);
}

@media screen and (min-width: 1200px) {
  .HeadingWrapper {
    background: var(--primaryBackgroundColor);
    justify-content: space-between;
  }
}

.List {
  display: grid;
  grid-gap: var(--size2);
  text-align: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: var(--size2);
}

@media screen and (min-width: 1200px) {
  .List {
    text-align: right;
  }
}

.ListItem {
  /* border: 1px solid black; */
  padding-top: var(--size2);
  padding-bottom: var(--size2);
  width: 100%;
  font-weight: 400;
  font-size: var(--size8);
  font-family: var(--bebas);
  text-transform: uppercase;
  overflow: hidden;
}

.Socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
