.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.Navbar > p {
  font-size: var(--size7);
  line-height: 1.5;
}

.Toggle {
  display: inline-flex;
  align-items: center;
}

.Toggle > svg {
  width: var(--size5);
  height: var(--size5);
}
