.Navbar {
  position: fixed;
  width: 100%;
  padding: 8px 16px;
  background: white;
  z-index: var(--layer--navbar);
  /* border-bottom: 1px solid black; */
  /* box-shadow: var(--shadow); */
}

.Navbar > nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  align-items: baseline;
}

.Navbar[data-variant="desktop"] {
  padding: 8px 0;
  width: 400px;
}

.Navbar[data-variant="desktop"] > nav {
  grid-template-columns: 400px 1fr 1fr;
  justify-content: center;
}

.Heading {
  font-size: var(--size6);
  line-height: 1.5;
  justify-self: center;
}

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size1);
  height: 100%;
}

.Button > svg {
  height: var(--size4);
  width: var(--size4);
}
