.Navbar {
  position: fixed;
  width: 100%;
  padding: 8px 16px;
  background: var(--primaryBackgroundColor);
  z-index: var(--layer--navbar);
}

.Navbar > nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  align-items: center;
}

.Navbar[data-variant="desktop"] {
  padding: 8px 0;
  width: 350px;
}

.Navbar[data-variant="desktop"] > nav {
  grid-template-columns: 400px 1fr 1fr;
  justify-content: center;
}

.Heading {
  font-size: var(--size6);
  justify-self: center;
  font-weight: 400;
}

.DarkToggle {
  justify-self: right;
}

[data-variant="desktop"] .DarkToggle {
  position: fixed;
  right: 8px;
  top: 24px;
}

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size1);
  height: var(--size6);
  width: var(--size6);
  padding: var(--size1);
}

.Button > svg {
  fill: var(--primaryTextColor);
  height: var(--size6);
  width: var(--size6);
}
