.Layout {
  display: grid;
  grid-template-rows: 58px 1fr;
}

.NavbarWrapper {
  position: fixed;
  width: 100%;
  transform: translateY(0px);
  transition: transform 200ms;
  z-index: var(--layer--navbar);
  border-bottom: 1px solid black;
  background: white;
}

.NavBarHidden {
  transform: translateY(-68px);
}
