.Container {
  display: grid;
  grid-template-columns: 1fr 1fr min(65ch, 100%) 1fr 1fr;
}

.Container > * {
  grid-column: 3;
}

/* .Full {
  width: 100%;
  grid-column: 1/6;
} */

.MainImage {
  grid-column: 2/5;
  background-color: var(--primaryBackgroundColor);
  border: 24px solid var(--primaryBackgroundColor);
  transition: height 200ms;
  overflow: hidden;
  min-height: unset;
}

@media screen and (min-width: 1024px) {
  .Container {
    grid-template-columns: 100%;
  }

  .Container > * {
    grid-column: 1;
  }

  .MainImage {
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    min-height: 500px;
  }
}

.MainImage > img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.MainImage > img[data-src]::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media screen and (min-width: 768px) {
  .MainImage {
    margin: var(--navbarHeight) 0;
  }
}

.YouTube {
  margin-bottom: var(--size7);
}

.YouTube > summary {
  background: black;
  color: white;
  padding: var(--size2) var(--size3);
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 700;
  width: fit-content;
  margin-bottom: var(--size3);
}

.EmbedWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.EmbedWrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: var(--size2);
  margin: 0 auto;
  margin-bottom: var(--size7);
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.Image:nth-child(5n) {
  grid-column: span 2;
}

.List {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.ListItem {
  padding: var(--size1) var(--size2);
  border: 1px solid black;
  width: fit-content;
  text-align: center;
  margin-right: var(--size1);
  margin-bottom: var(--size1);
}

.Post {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: var(--size7);
  padding: 0 var(--size3);
  font-size: var(--size4);
}

.Post h3 {
  /* --slot3: #ca106d;
  --slot4: rgb(148, 41, 236);
  --slot5: #3e3edd;
  background-image: linear-gradient(
    70deg,
    var(--slot3) 35%,
    var(--slot4) 70%,
    var(--slot5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--slot3); */
  font-family: var(--vollkorn);
  font-style: italic;
  font-weight: 800;
}

.Post a {
  --slot3: #ca106d;
  --slot4: rgb(148, 41, 236);
  --slot5: #3e3edd;
  border-bottom: 2px solid black;
  border-image: linear-gradient(
      70deg,
      var(--slot3) 35%,
      var(--slot4) 70%,
      var(--slot5)
    )
    1;
}

.Post > p,
.Post li {
  font-family: var(--roboto);
  font-size: var(--size4);
  font-weight: 400;
  margin-bottom: var(--size4);
  line-height: 30px;
  letter-spacing: 0.1px;
  font-size: 18px;
}

.Post li {
  margin-bottom: var(--size1);
}

.Post ul {
  list-style-type: disc;
  margin-bottom: var(--size8);
  padding-left: var(--size4);
}
