.Main {
  display: grid;
  grid-template-rows: var(--navbarHeight) 1fr;
  background: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

.Content {
  grid-row-start: 2;
}

@media screen and (min-width: 1200px) {
  .Main {
    grid-template-columns: 400px 1fr;
  }

  .Sidebar {
    grid-column-start: 1;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebarWidth);
    padding: 0 var(--size2);
    background: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
  }

  .InnerSidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
  }

  .Content {
    grid-row: 1 / span 2;
    grid-column-start: 2;
    background: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
  }
}
