.Keyboards .Title {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
}

.Keyboards .Title > h2 {
  font-size: 64px;
  text-align: center;
}

.Keyboards .Grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-items: center;
  max-width: 1820px;
  margin: 0 auto;
}

@media screen and (max-width: 1815px) {
  .Keyboards .Grid {
    max-width: 1213px;
  }
}

@media screen and (max-width: 750px) {
  .Keyboards .Title {
    height: 20vh;
  }
  .Keyboards .Title > h2 {
    font-size: 32px;
  }

  .Keyboards .Grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.Keyboards .Grid > .GridItem {
  position: relative;
}

.GridItem img {
  opacity: 0.9;
}

.KeyboardName {
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 16px;
  right: 16px;
  border-radius: 8px;
  background: var(--black);
  padding: 0 16px;
}

.KeyboardName p {
  font-family: var(--bebas);
  font-size: 36px;
}

@media screen and (max-width: 750px) {
  .KeyboardName {
    top: 8px;
    right: 8px;
  }

  .KeyboardName p {
    font-size: 24px;
  }
}
