.Blog {
  max-width: 64ch;
  h1,
  h2,
  h3 {
    font-family: var(--roboto);
    font-weight: 700;
  }

  ul {
    list-style-type: disc;
  }
}

// same styles .GridGallery
.Gallery {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-items: center;
  max-width: 1820px;
  margin: 0 auto;

  @media screen and (max-width: 1815px) {
    max-width: 1213px;
  }

  @media screen and (max-width: 1240px) {
    max-width: 600px;
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}
