.PageTitle {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
}

.PageTitle > h2 {
  font-size: 64px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .PageTitle {
    height: 20vh;
  }
  .PageTitle > h2 {
    font-size: 32px;
  }
}
